@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

.container{
    width: 800px;
    margin: 40px auto;
}

.show{
    width: 100%;
    overflow: hidden;
}

.show li{
    float: left;
    margin: 4px;
    padding: 4px 8px;
    background-color: #000;
    color: #fff;
}

.show li.active{
    background-color: #f00;
}