html{font-size:10px}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:12px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
@media screen and (min-width:800px){html{font-size:25px}}

html{
    height: 100%;
}

html,body,header,main,h1,div,p,input{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    font-family:Helvetica;
    font-size: 1.8rem;
}

.header{
    height: 4rem;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.header .title{
    line-height: 4rem;
    font-weight: normal;
    font-size: 2rem;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 4rem);
    background-color: #f0f0f2;
}

.main .main-picture{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .main-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.main-select .input-group:first-child{
    margin-bottom: 1.5rem;
}

.main-select .input-group input{
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;
}



