@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

#show{
    height: 100px;
}

#show li{
    float: left;
    width: 20px;
    margin: 0 2px;
    background-color: #f00;
}