@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 12px;
    font-family: '微软雅黑';
}

.clearfloat{
    zoom: 1;
}

.clearfloat:after{
    display: block;
    height: 0;
    content: '';
    clear: both;
    visibility: hidden;
}