body,html{padding: 0;margin: 0;font-size: 14px;color:#000;}
table {border-collapse: collapse;width: 100%;table-layout: fixed;}
td,th {border: 1px solid #e1e1e1;padding: 0;height: 20px;line-height: 20px;text-align: center;}
.current{color:red;}