@charset 'utf-8';

ul{
    list-style: none;
}

.music-list{
    margin-top: 40px;
    height: 240px;
    overflow-y: auto;
}

.music-list li{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(157,157,157);
}

.music-list li:hover{
    background-color: #fafafa;
    color: #000;
}

.music-panel{
    margin-top: 40px;
    padding: 20px;
    background-color: #fbfbfa;
}

.vol-progress,.music-progress{
    margin-bottom: 0;
}

.vol-progress{
    height: 2px;
    margin-top: 4px;
}

 .vol-progress .progress-bar{
    background-color: #ccc;
    width: 100%;
}

.music-progress{
    height: 2px;
    transition: 500ms;
}

.music-progress .progress-bar{
    background-color: #90ee90;
}

.progress-wrap{
    padding: 4px 0;
    cursor: pointer;
}

.progress-wrap:hover .progress{
    transform: scaleY(2);
}

.music-control .glyphicon{
    margin-top: 20px;
    font-size: 24px;
    cursor: pointer;
}

.music-control .glyphicon:hover{
    opacity: 0.5;
}

.music-control #love.active{
    color: #f00;
}

.music-img img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}