@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 18px;
    font-family: '微软雅黑';
}

form{
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.form-group{
    margin: 10px;
}

.form-group .text-box{
    width: 300px;
    margin: 10px;
    padding: 8px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    box-shadow: 0 0 2px #c0c0c0;
}

.form-group .text-box:focus{
    outline: none;
}

.form-group .btn{
    padding: 8px;
    color: #fff;
    background-color: #2f79ba;
    border: none;
    border-radius: 4px;
}

.form-group .message{
    margin-left: 55px;
    color: #c0c0c0;
    font-size: 16px;
}

.form-group.success .message{
    color: #5fba46;
}

.form-group.success .text-box{
    border-color: #5fba46;
}

.form-group.danger .message{
    color: #de000f;
}

.form-group.danger .text-box{
    border-color: #de000f;
}


